:root {
  color: #f3af34;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.background {
  background-image: url(assets/main-bg.jpg);
  background-repeat: none;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.navbar-rchmn {
  background: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  font-weight: 500;
}

.navbar-rchmn .navbar-brand {
  font-weight: 700;
}

.navbar-rchmn a {
  padding-left: 2rem;
}

.margin {
  margin-left: 31rem;
}

.info {
  margin-top: 10%;
}

.info h1 {
  color: white;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 3px;
}

.info .lead {
  color: white;
}

.info button {
  background-color: #ffb548;
  color: black;
  border-radius: 7px;
  height: 60px;
  width: 260px;
  margin-top: 20px;
  border-color: #ffb548;
  font-weight: 700;
}

.info button:hover {
  background: #f3af34;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  color: white;
}
.blink a{
  color: white;
  text-decoration: none;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.background-page2 {
  background-image: url(assets/the-games-bg.jpg);
  background-repeat: none;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.background-page2 .game {
  color: white;
  margin-top: 10rem;
}

.background-page2 .game-img {

  padding-left: 50px;
  width: 70%;
  height:477px ;
  grid-row-start: 7;
  

}

.background-page3 {
  background-image: url(assets/features.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  margin-top: 0px;
}

.background-page3 .caption {
  color: white;
  margin-top: 10rem;
}

.background-page3 .list li {
  color: #ffb548;
  margin-top: 3rem;
  letter-spacing: 2px;
}

.background-page3 .list li::before {
  color: white;
}

.background-page3 .list p {
  color: white;
}

.background-page4 {
  background: url(assets/requirements.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-page4 p {
  color: white;
  margin-top: 1rem;
}

.background-page4 h2 {
  color: white;
  margin-top: 4rem;
}

.background-page4 .tabel {
  width: 500px;
  height: 60%;
  color: white;
  text-align: center;
  
}

.background-page4 h3 {
  color: #f3af34;
}

.background-page5 {
  background-image: url(assets/topscore.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.topscores_Description {
  padding-bottom: 3rem;
  color: white;
}

.topscores_Description h5,
.topscores_Description p {
  padding: 0.5rem 0;
}

h5.name {
  color: #f3af34;
}

.topscores_Description h5 {
  letter-spacing: 0.5rem;
}

.topscores_Button {
  width: 260px !important;
  height: 60px;
}

.topscores_Cards {
  min-height: 40rem;
  color: white;
}

.row-end {
  justify-content: flex-end !important;
}

.card {
  border-radius: 10px !important;
  max-width: 20rem !important;
  text-align: left;
  position: absolute !important;
}

.card-img {
  width: fit-content;
  z-index: 1;
}

.card-profile-img {
  width: 30rem;
  align-items: center;
  column-gap: 1rem;
}

.card-profile-img .card-img {
  width: 4rem;
  height: 4rem;
}

.card-profile-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.img-shadow {
  position: absolute;
  border-radius: 50%;
  background: var(--orange);
  width: 4rem;
  height: 4rem;
  transform: translate(4px, 4px);
}

.card-title {
  color: var(--orange);
}

.card-title,
.card-subtitle {
  margin: 0;
}

.card-body {
  padding: 0.5rem;
  padding-left: unset;
}

.background-page6 {
  background: url(assets/news.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.background-page6 .caption {
  color: white;
}

.background-page6 img {
  height: 590px;
  margin-top: 50px;
}

.background-page6 p {
  font-size: 24px;
}

.background-page6 h1 {
  font-size: 65px;
}


footer {
  color: white;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

  




@media (max-width: 1024px) { 
  .info h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .background-page2{
    display: flex;
    flex-direction: column;
  }

  .background-page2 .game{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row-start: 5 ;
   
  }

  .background-page2 .game h1{
    color: white;
    align-items: center;
    justify-content: center;
  
    
   
  }
 
  .background-page2 .game-img {
    margin-left: 16.5%;
    width: 80%;
    height: 100%;
    padding-top: 100px;

  }

  .background-page6 img{
    height: 285px;

  }

  .background-page4 .caption{
    margin-left: 20rem;
  }

  .background-page5 .caption{
    font-size: 18px;
  }
 
}

@media only screen and (max-width: 768px){
  .background-page3 .list p{
    width: 300px;
  }
  
  .background-page4 .tabel{
    width: 100px;
    font-size: 30px;
    
    
  }

  .background-page4 .sysreq{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .background-page5 .mid{
    margin-left: 18px;
  }

  .background-page3 .caption{
    margin-left: 10rem;
  }
}
