* {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    }

.background {
    background-image: url(assets/main-bg.jpg);
    background-repeat: none;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}

.navbar-rchmn {
    background: rgba(0, 0, 0, 0.75);
    font-size: 20px;
    font-weight: 500;
}

.navbar-rchmn .navbar-brand {
    font-weight: 700;
}

.navbar-rchmn a {
    padding-left: 2rem;
}

.margin {
    margin-left: 31rem;
  }

form{
    margin: 30px;
    
}

.form{
    margin-top: 6rem;
    margin-left: 28rem;
    margin-right: 28rem;
    border: 2px solid;
    border-radius: 30px;
    background: rgba(3, 3, 3, 0.3);
    padding-top: 28px;
    padding-bottom: 28px;
}

.button{
    background-color: #f3af34;
}

.button:hover{
    background-color: #d29729;
}
